@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Ta bort fordon";
}

<h1>Ta bort</h1>

<h3>Är du säker på att du vill ta bort detta fordon?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleOwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleOwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpaceNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpaceNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href='@Url.Action("Index")'>&laquo;Tillbaka till listan</a> |
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
