@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Visa fordon";
}

<h1>Visa fordon</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Fordonstyp: @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
           Färg: @*@Html.DisplayNameFor(model => model.Color)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
           Ägare: @*@Html.DisplayNameFor(model => model.Owner)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            Reg Nr:@*@Html.DisplayNameFor(model => model.RegNr)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt>
            Checka IN:@*@Html.DisplayNameFor(model => model.ParkingIn)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingIn)
        </dd>
        <dt>
            Checka UT: @*@Html.DisplayNameFor(model => model.ParkingOut)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingOut)
        </dd>
    </dl>
</div>

<div class="form-actions no-color">
    <a href='@Url.Action("Index")'>&laquo;Tillbaka till listan</a> |
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
</div>

