@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Visa fordon";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingOut)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ID }) |
    <a href='@Url.Action("Index")'>&laquo;Tillbaka till listan</a>
</p>
