@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Visa fordon";
}

<h1>Visa fordon</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.DisplayNameFor(model => model.Vehicle_Type.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehicle_Type.Name)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.VehicleOwner.OwnerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleOwner.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingOut)
        </dd>
    </dl>
</div>

<div class="form-actions no-color">
    <a href='@Url.Action("Index")'>&laquo;Tillbaka till listan</a> |
    @Html.ActionLink("Ändra", "Edit", new { id = Model.VehicleID }, new { @class = "btn btn-default" })
</div>

