@model IEnumerable<Garage2._0.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    List<string> l = new List<string>();
    l.Add("All Vehicle Types");
    l.Add("Car");
    l.Add("Boat");
    l.Add("Airplane");
    l.Add("Motorcycle");
    l.Add("Bicycle");
    @*"Car",
            "Boat",
            "Airplane",
            "Motorcycle",
            "Bicycle"});*@
}

<h2>Index</h2>
<p>@DateTime.Now</p>
    @using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
    {
        @Html.TextBox("q")
        @Html.CheckBox("today",true)
        @Html.DropDownList("type",new SelectList(l))
        <input type="submit" value="Filter" />
    }
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingIn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
