@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "Sök fordon";
}

<h1>Sök fordon</h1>
<hr />
@Html.Partial("_Search")
@*<div class="search-container">
    @using (Html.BeginForm("Search", "Vehicles", FormMethod.Get))
    {
        
        <p>@Html.RadioButton("val", "owner", true) Sök på ägare</p>
        <p>@Html.RadioButton("val", "reg") Sök på registreringsnummer</p>
        @Html.TextBox("q")
        <input type="submit" class="btn btn-default" name="Submit" />
    }
</div>*@
<div><p>@Html.ActionLink("Lista alla fordon", "Search")</p></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vehicleOwner.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingOut)
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vehicleOwner.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingOut)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ParkingSpaceNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserved)
        </td>*@
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.VehicleID }) |
            @Html.ActionLink("Visa", "Details", new { id=item.VehicleID }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.VehicleID })
        </td>
    </tr>
}

</table>
