@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "Sök fordon";
}

<h1>Sök fordon</h1>
<hr />
<div class="search-container">
    @using (Html.BeginForm("Search", "Vehicles", FormMethod.Get))
    {
        
        <p>Sök på ägare: @Html.RadioButton("val", "owner", true)</p>
        <p>Sök på registreringsnummer: @Html.RadioButton("val", "reg")</p>
        @Html.TextBox("q")
        <input type="submit" class="btn btn-default" name="Submit" />
    }
</div>
<div><p>@Html.ActionLink("Lista alla fordon", "Search")</p></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingOut)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ParkingSpaceNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserved)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingOut)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ParkingSpaceNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reserved)
        </td>*@
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Visa", "Details", new { id=item.ID }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
